{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home</title>
{% endblock %}



{% block content %}
    <section class="Resprow owl-carousel h300p">
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/brasserie1.jpeg" alt="brasserie1"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/brasserie3.jpg" alt="brasserie3"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/brasserie2.jpg" alt="brasserie2"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/pub_indoor.jpg" alt="pubindoor"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/pub_indoor2.jpg" alt="pubindoor2"></div>
            <div class="item"><img class="imgcarousel" src="assets/img/caroussel/pub_outdoor.jpg" alt="pub_outdoor"></div>
        </section>

    <div class="flex center-align row mtop50p w300p">

            <hr class="w150p">
            <img src="assets/img/icons/chopes.png" alt="chopes">
            <hr class="w150p">
    </div>
    <div class="row">
        <p class="col offset-s2 offset-m5 offset-l5 s8 m10 l2 fs18 oswald center-align textjustify">Bienvenue sur "Chope ta bière !", site dédié à la présentation (avant dégustation) de bières internationales.
            Vous trouverez des informations (origine, style et degré d'alcool) sur plus de 1000 bières.
            Cliquez sur l'icône "loupe" pour rechercher la bière que vous voulez, et sur le "?" pour accéder aux informations légales du site.
            Bonne visite !


        </p>
    </div>

{% endblock %}