<footer>
    <div class="row">
        <div class="col offset-s2 offset-m5 offset-l5 s8 m10 l3 center-align">
            <p class="textjustify fs20 fs16-sm oswald">
                Chope ta bière - ACS Dijon | Loan - Romain - Jérôme - Erick
            </p>
        </div>
        <div class="col offset-l2 l2 lh100p">
            <div class="center-align">
                <i class="fab fa-instagram fa-4x"></i>
                <i class="fab fa-facebook-f fa-4x mleft30p"></i>
                <i class="fab fa-twitter fa-4x mleft30p"></i>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="./assets/js/nouislider.min.js"></script>
<script src="./assets/js/script.js"></script>