<header >    
    <div class="">
        <div class="center-align">
            <img src="assets/img/logo-ctb-01.png" alt="logo"><br>
            <p class="oswald fs18 nopargin">Avec nous la vie est si rose</p>
            <hr class="w300p">
        </div>
        <div class="right-align">
            <nav class="bgnocolor noborder noshadow">
                <div class="row">
                    <i class="color5 fas fa-search fa-5x"></i>
                    <i class="color5 fas fa-home fa-5x"></i>
                    <i class="color5 fas fa-question-circle fa-5x"></i>
                </div>
            </nav>
        </div>
    </div>
</header>