<header class="row">    
    <div class="col offset-s2 offset-m2 offset-l5 s8 m8 l2 center-align">
        <div class="mleft10p">
            <img src="assets/img/logo-ctb-01.png" alt="logo"><br>
            <p class="oswald light fs24 fs20-sm fs32-mm nopargin">Avec nous la vie est si rose</p>
        </div>
        <hr>
    </div>
    <nav class="h180p col offset-l3 l2 s12 bgnocolor noborder noshadow">
        <div class="lh210p navBottom center-align">
            <div class="mtop10-sm">
                <a href="http://localhost/databeerbase/recherche"> <i class="color5 fas fa-search fa-4x"></i></a>
                <a href="http://localhost/databeerbase/"> <i class="color5 fas fa-home fa-4x mleft30p"></i></a>
                <a href="http://localhost/databeerbase/informations"> <i class="color5 fas fa-question-circle fa-4x mleft30p"></i></a>
            </div>
        </div>
    </nav>
</header>