<header>
    <div class="row">
        <div class="center-align col offset-l5">
            <img src="assets/img/logo-ctb-01.png" alt="logo"><br>
            <p class="oswald fs18 nopargin">Avec nous la vie est si rose</p>
            <hr class="w300p">
        </div>
    
        <nav class="col l3 offset-l2 bgnocolor noborder">
            <div class="row">
                <i class="color5 fas fa-search fa-5x"></i>
                <i class="color5 fas fa-home fa-5x"></i>
                <i class="color5 fas fa-question-circle fa-5x"></i>
            </div>
        </nav>
    </div>


<section class="owl-carousel">
    <div class="item h300p"><img class="imgcarousel" src="assets/img/caroussel/brasserie1.jpeg" alt="brasserie1"></div>
    <div class="item h300p"><img class="imgcarousel" src="assets/img/caroussel/brasserie2.jpg" alt="brasserie2"></div>
    <div class="item h300p"><img class="imgcarousel" src="assets/img/caroussel/brasserie3.jpg" alt="brasserie3"></div>
    <div class="item h300p"><img class="imgcarousel" src="assets/img/caroussel/pub_indoor.jpg" alt="pubindoor"></div>
    <div class="item h300p"><img class="imgcarousel" src="assets/img/caroussel/pub_indoor2.jpg" alt="pubindoor2"></div>
    <div class="item h300p"><img class="imgcarousel" src="assets/img/caroussel/pub_outdoor.jpg" alt="pub_outdoor"></div>
</section>

</header>