{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Page Introuvable
{% endblock %}

{% block content %}
    
    <section class="flex">

        <h1 class="oswald bold fs105 rotated"><span class="color2">404</span> PAGE NOT FOUND</h1>

        <img src="assets/img/img-404.jpg">

    </section>
    
{% endblock %}