/* ------------- Couleurs ------------- */
.color1{color:#f7f7f7;} /* gris clair */
.color2{color:#f5b553;} /* jaune doré */
.color3{color:#854836;} /* marron */
.color4{color:#fff;} /* blanc */
.color5{color:#222222;} /* noir */


.bgcolor1{background-color:#f7f7f7;} /* gris clair */
.bgcolor2{background-color: #f5b553;} /* jaune doré */
.bgcolor3{background-color: #854836;} /* marron */
.bgcolor4{background-color: #fff} /* blanc */
.bgcolor5{background-color: #222222} /* noir */
.bgnocolor{background:none !important;}