{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Recherche
{% endblock %}

{% block content %}

<form action="" method="POST">

    <label for="nom">NOM</label>
    <input type="text" name="nom" id="nom">

    <label for="style">STYLE</label>
    <input type="text" name="styleBeer" id="style">

<<<<<<< HEAD
    <select name="degBeer" id="">
     

    </select>
=======
    <div class="input-field col s12">
        <select id="nationalite">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>


    <div id="test-slider"></div>

    <div id="range-input" class="noUi-target noUi-ltr noUi-horizontal">
    <div class="noUi-base">
        <div class="noUi-origin" style="left: 20%;">
        <div class="noUi-handle noUi-handle-lower" data-handle="0" style="z-index: 5;">
            <div class="noUi-handle-touch-area"></div>
            <div class="noUi-tooltip"><span>20</span></div>
        </div>
        </div>
        <div class="noUi-connect" style="left: 20%; right: 20%;"></div>
        <div class="noUi-origin" style="left: 80%;">
        <div class="noUi-handle noUi-handle-upper" data-handle="1" style="z-index: 4;">
            <div class="noUi-handle-touch-area"></div>
            <div class="noUi-tooltip"><span>80</span></div>
        </div>
        </div>
    </div>
    </div>

>>>>>>> ab6ade726a0d4a92a9130d908af075e684271738

    <input type="submit">

</form>
    
{% endblock %}