{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Recherche</title>
{% endblock %}

{% block content %}

<form action="" method="POST">
    
    <label for="nom">NOM</label>
    <input type="text" name="nom" id="nom">

    <label for="style">STYLE</label>
    <input type="text" name="styleBeer" id="style">

    <select name="degBeer" id="">
        <?php for

    </select>

    <input type="submit">

</form>
    
{% endblock %}