{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Recherche</title>
{% endblock %}

{% block content %}

<form action="" method="POST">
    
    <label for="nom">NOM</label>
    <input type="text" name="nom" id="nom">

    <label for="style">STYLE</label>
    <input type="text" name="styleBeer" id="style">

    <div class="input-field col s12">
        <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>>


    <select name="degBeer" id="">
        <option value="">10</option>
        <option value="">20</option>
        <option value="">30</option>
        <option value="">40</option>
    </select>

    <input type="submit">

</form>
    
{% endblock %}