{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Recherche
{% endblock %}

{% block content %}

<form action="" method="POST">
    
    <label for="nom">NOM</label>
    <input type="text" name="nom" id="nom">

    <label for="style">STYLE</label>
    <input type="text" name="styleBeer" id="style">

    <div class="input-field col s12">
        <select id="nationalite">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>>


<div id="test-slider"></div>



    <input type="submit">

</form>
    
{% endblock %}